body {
  margin: 0;
  padding-left: 5%;
  padding-right: 5%;
}

/* CSS POUR LE HEADER */
.header {
  background:#6f0bbb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  margin: 5% auto 0;
  padding: 1rem 2rem;
  border-radius: 50px;
}

.logo{
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
  color: #ffffff;
  
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  justify-content: center;
 }
.nav-links a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.nav-links a:hover {
  text-decoration: none;
  color:#a84af0;
  transition: ease-in-out 0.3s;
  font-size: 15px;
}
.connexion{
  background: #ffffff;
  border-color:black ;
}