@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";

@theme{
--font-pt-serif: "PT Serif", serif;
}

body {
  margin: 0;
  background-image: url("/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
body * {
  position: relative;
  z-index: 1;
}
body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(255, 255, 255, 0.875);
  z-index: 0;
}

/* CSS POUR LE HEADER */
.header {
  background:#6f0bbb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  margin: 5% auto 0;
  padding: 1rem 2rem;
  border-radius: 50px;
}

.logo{
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
  color: #ffffff;
  
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  justify-content: center;
 }
.nav-links a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.nav-links a:hover {
  text-decoration: none;
  color:#a84af0;
  transition: ease-in-out 0.3s;
  font-size: 15px;
}
.connexion{
  background: #ffffff;
  border-color:black ;
}